.parent{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Resources/3398219.jpg') no-repeat;
    /* background-color: #ff0a0a; */
    
   
    background-size: cover;
    background-position: center;
    margin: 0;
    padding:0;
    box-sizing: border-box;
      
}
.but-container{
    justify-content: center;
    
}
.but-container  button{
    background: #fff;
    margin-top: 15%;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: transform 0.2s ease;
    color: #000000;
}

.but-container  button:hover{
    transform: translateY(-4px);

}
.wrapper{ 
    justify-content: center;
    align-items: center;
    width:420px;
    /* border: 2px solid rgb(255, 255, 255); */
    background: transparent;
    box-shadow: 0 4px 8px 0 rgb(255, 0, 0), 0 6px 20px 0 rgb(255, 0, 0);

    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px rgba(0,0,0,.2);
    color:  rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
.wrapper .input-box{
    position: relative;
    
    width: 370px;
    height: 30px;
    
    margin-top: 10%;
}

.input-box input
{
    width: 100%;
    height:100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: #ffff;
    padding: 20px 45px 20px 20px;
    border: #fff 2px solid;

}
.input-box input::placeholder{
    color: #ffffff;

}
.input-box .icon
{
    position:absolute;
    right: 20px;
    top:30px;
    transform:translateY(-50%);
    font: size 16px;
}
.wrapper .remember-forgot{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    margin: -15px 0 15px;

}
.remember-forgot label input{
    margin-top: 30%;
    accent-color: #ff0a0a;
    margin-right: 4px;
}
.remember-forgot a{
    color: #ff0000;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper button{
    width: 100px;
    height: 45px;
    background: #fff;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 700;

}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration:underline;
}
.register-but{
    background-color: #ffb9b9;
    color: #ffffff;
}
.input-box FaRegUser{
    
}
/* *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./wallpaperflare.com_wallpaper.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
  } */
