@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Signika+Negative:wght@300..700&display=swap');

.Main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .Navbar {
    /* Your Navbar styles */
  }
  
  .CardContainer {
    width: 1150px;
    height: 300px;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #232526, #414345);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* box-shadow: 0 4px 6px rgba(172, 169, 169, 0.486); */

    flex-direction: row;
  }
  
  .Card {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 4px 6px #3E98C7;
    background-color: #ffffff;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  .Card2 {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 4px 6px #61d261;
    background-color: #fff;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  .Card3 {

    margin-top: 20px;
    width: 200px;
    height: 200px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 4px 6px #ee3c36;
    background-color: #fff;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .Card:hover {
    transform: translateY(-5px);
  }
  .Card2:hover {
    transform: translateY(-5px);
  }
  .Card3:hover {
    transform: translateY(-5px);
  }
  
  /* Customize the CircularProgressbar text */
  .CircularProgressbar-text {
    font-size: 7px !important; /* Adjust to smaller text size */
    font-weight: bold;
  }
  
  /* Customize the CircularProgressbar percentage text */
  .CircularProgressbar-percentage {
    font-size: 7px !important; /* Adjust to smaller text size */
    font-weight: normal;
  }
  
  /* Customize the CircularProgressbar trail color */
  .CircularProgressbar-trail {
    stroke: #d6d6d6;
  }
  .UserDetailsCard {
    position:absolute;
    left: 80%;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(172, 169, 169, 0.486);

  }
  
  .UserDetailsCard h2 {
    font-family: 'Raleway, sans-serif';

    margin-bottom: 10px;
    font-size: 300;
    font-weight: 800;
    color: #ffffff;
  }
  
  .UserDetails p {
    margin: 20px 0;
    font-family: 'Rajdhani, sans-serif';
    font-weight: 300;
    font-size: 22px;
    color: #ffffff;
  }
  .txt{
    margin: 20px 0;
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
  }
  .AccountActionsCard {
    width: 100%;
    height: 150px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(172, 169, 169, 0.486); */
    background: linear-gradient(to right, #232526, #414345);
     }
  
  .AccountAction {
    width: 200px;
    margin-left: 20%;
    height: 50px;
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.486);
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .AccountAction:hover {
    transform: translateY(-5px);
  }

  .Investment-container{
    width: 1150px;
    height: 350px;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #232526, #414345);    box-shadow: 0 4px 6px rgba(172, 169, 169, 0.486);
    justify-content: space-between;
    flex-direction: row;

  }
  .Investment{
    margin: 5%;
    width: 400px;
    height: 200px;
    display: flex;
    
    border-radius: 25px;
    box-shadow: 0 4px 6px #3E98C7;
    background-color: #fff;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  .Inve{
    margin: 15px;
    justify-content: center;
    align-items: center;
  }